<%= form_with(model: @toy) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: "Add a description" %>
    </div>

    <span class="image">
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png" %>
    </span>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>