<% provide(:title, @toy.name) %>
<div class="row">
    <% if @toy.images.attached? %>
        <div class="col-md-7">
            <% if @toy.images.count == 1 %>
                <%= image_tag @toy.images.first.variant(:display) %>
            <% else %>
                <%= render 'carousel' %>
            <% end %>
        </div>
    <% end %>

    <div class="col-md-5">
        <section class="toy-info">
            <h1>
                <%= @toy.name %>
            </h1>

            <span class="desc"><%= @toy.description unless @toy.description.nil? %></span>
            
            <span class="user">Uploaded by: <%= link_to @toy.user.name, @toy.user %></span>

            <% if current_user?(@toy.user) %>
                <%= link_to "Edit", edit_toy_path(@toy),
                                        class: "btn btn-sm btn-primary" %>
                <%= link_to "Delete", @toy, data: { "turbo-method": :delete,
                                                     turbo_confirm: "You sure?" },
                                            class: "btn btn-sm btn-danger" %>
            <% end %>
        </section>
    </div>
</div>